* { 
    transition:all 1s linear; 
    -o-transition:all 1s linear; 
    -moz-transition:all 1s linear; 
    -webkit-transition:all 1s linear;
  }

html, body {
	margin: 0;
}	

.box {
	background: #2980b9;
}

.box:nth-child(2n) {
	background: #2574A9;
}

.content {
	background: #34495e;
	height: 30px;
	margin: 10px 0;
}