/* Initial Grid System V1.0
	 https://github.com/JordyPouw/initial-gs
	 Author: Jordy Pouw */


/* ==========================================================================
   Typography.
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}


/* ==========================================================================
   Box Sizing Model.
   ========================================================================== */
*, 
*:before, 
*:after {	
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}


/* ==========================================================================
   Micro ClearFix Method.
   ========================================================================== */
.box:before,
.box:after {
  content: " ";
  display: table;}
.box:after {
  clear: both;
}

.box .box:before,
.box .box:after {
  content: " ";
  display: table;}
.box .box:after {
  clear: both;
}


/* ==========================================================================
   Grid Fundamentals.
   Step 1: Change the max-width(1200px) to your desired value.
   			2: Change the padding(15px) to your desired value.
   			3: Start building. 
   ========================================================================== */
.box {
	width: 100%;
	max-width: 1200px; /* changeable */
	margin: 0 auto;  	
}

.box .box {
  width: auto;
  max-width: none;
  margin: 0 -15px;
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10, .t11, .t12,
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12,
.m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12,
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12,
.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12 {
	float: left;
	position: relative;
	min-height: 1px;
	padding: 0 15px; /* changeable */
}


/* ==========================================================================
   Grid Tiny [Mobile First Design].
   ========================================================================== */
.t1{
	width: 8.33333333%;}

.t2{
	width: 16.66666667%;}

.t3{
	width: 25%;}

.t4{
	width: 33.33333333%;}

.t5{
	width: 41.66666667%;}

.t6{
	width: 50%;}

.t7{
	width: 58.33333333%;}

.t8{
	width: 66.66666667%;}

.t9{
	width: 75%;}

.t10{
	width: 83.33333333%;}

.t11{
	width: 91.66666667%;}

.t12{
	width: 100%;}

/* forward --> */
.tf-r{
	left: 0%;}

.tf1{
	left: 8.33333333%;}

.tf2{
	left: 16.66666667%;}

.tf3{
	left: 25%;}

.tf4{
	left: 33.33333333%;}

.tf5{
	left: 41.66666667%;}

.tf6{
	left: 50%;}

.tf7{
	left: 58.33333333%;}

.tf8{
	left: 66.66666667%;}

.tf9{
	left: 75%;}

.tf10{
	left: 83.33333333%;}

.tf11{
	left: 91.66666667%;}

.tf12{
	left: 100%;}

/* backward <-- */
.tb-r{
	right: 0%;}

.tb1{
	right: 8.33333333%;}

.tb2{
	right: 16.66666667%;}

.tb3{
	right: 25%;}

.tb4{
	right: 33.33333333%;}

.tb5{
	right: 41.66666667%;}

.tb6{
	right: 50%;}

.tb7{
	right: 58.33333333%;}

.tb8{
	right: 66.66666667%;}

.tb9{
	right: 75%;}

.tb10{
	right: 83.33333333%;}

.tb11{
	right: 91.66666667%;}

.tb12{
	right: 100%;}

/* offset */
.to-r{
	margin-left: 0%;}

.to1{
	margin-left: 8.33333333%;}

.to2{
	margin-left: 16.66666667%;}

.to3{
	margin-left: 25%;}

.to4{
	margin-left: 33.33333333%;}

.to5{
	margin-left: 41.66666667%;}

.to6{
	margin-left: 50%;}

.to7{
	margin-left: 58.33333333%;}

.to8{
	margin-left: 66.66666667%;}

.to9{
	margin-left: 75%;}

.to10{
	margin-left: 83.33333333%;}

.to11{
	margin-left: 91.66666667%;}

.to12{
	margin-left: 100%;}		


/* ==========================================================================
   Grid Small [min-width:481px].
   ========================================================================== */
@media only screen and (min-width: 30.063em) {
	.s1{
		width: 8.33333333%;}

	.s2{
		width: 16.66666667%;}

	.s3{
		width: 25%;}

	.s4{
		width: 33.33333333%;}

	.s5{
		width: 41.66666667%;}

	.s6{
		width: 50%;}

	.s7{
		width: 58.33333333%;}

	.s8{
		width: 66.66666667%;}

	.s9{
		width: 75%;}

	.s10{
		width: 83.33333333%;}

	.s11{
		width: 91.66666667%;}

	.s12{
		width: 100%;}

	/* forward --> */
	.sf-r{
		left: 0%;}

	.sf1{
		left: 8.33333333%;}

	.sf2{
		left: 16.66666667%;}

	.sf3{
		left: 25%;}

	.sf4{
		left: 33.33333333%;}

	.sf5{
		left: 41.66666667%;}

	.sf6{
		left: 50%;}

	.sf7{
		left: 58.33333333%;}

	.sf8{
		left: 66.66666667%;}

	.sf9{
		left: 75%;}

	.sf10{
		left: 83.33333333%;}

	.sf11{
		left: 91.66666667%;}

	.sf12{
		left: 100%;}

	/* backward <-- */
	.sb-r{
		right: 0%;}

	.sb1{
		right: 8.33333333%;}

	.sb2{
		right: 16.66666667%;}

	.sb3{
		right: 25%;}

	.sb4{
		right: 33.33333333%;}

	.sb5{
		right: 41.66666667%;}

	.sb6{
		right: 50%;}

	.sb7{
		right: 58.33333333%;}

	.sb8{
		right: 66.66666667%;}

	.sb9{
		right: 75%;}

	.sb10{
		right: 83.33333333%;}

	.sb11{
		right: 91.66666667%;}

	.sb12{
		right: 100%;}	

	/* offset */
	.so-r{
		margin-left: 0%;}

	.so1{
		margin-left: 8.33333333%;}

	.so2{
		margin-left: 16.66666667%;}

	.so3{
		margin-left: 25%;}

	.so4{
		margin-left: 33.33333333%;}

	.so5{
		margin-left: 41.66666667%;}

	.so6{
		margin-left: 50%;}

	.so7{
		margin-left: 58.33333333%;}

	.so8{
		margin-left: 66.66666667%;}

	.so9{
		margin-left: 75%;}

	.so10{
		margin-left: 83.33333333%;}

	.so11{
		margin-left: 91.66666667%;}

	.so12{
		margin-left: 100%;}
}	


/* ==========================================================================
   Grid Medium [min-width:769px].
   ========================================================================== */
@media only screen and (min-width: 48.063em) {
	.m1{
		width: 8.33333333%;}

	.m2{
		width: 16.66666667%;}

	.m3{
		width: 25%;}

	.m4{
		width: 33.33333333%;}

	.m5{
		width: 41.66666667%;}

	.m6{
		width: 50%;}

	.m7{
		width: 58.33333333%;}

	.m8{
		width: 66.66666667%;}

	.m9{
		width: 75%;}

	.m10{
		width: 83.33333333%;}

	.m11{
		width: 91.66666667%;}

	.m12{
		width: 100%;}

	/* forward --> */
	.mf-r{
		left: 0%;}

	.mf1{
		left: 8.33333333%;}

	.mf2{
		left: 16.66666667%;}

	.mf3{
		left: 25%;}

	.mf4{
		left: 33.33333333%;}

	.mf5{
		left: 41.66666667%;}

	.mf6{
		left: 50%;}

	.mf7{
		left: 58.33333333%;}

	.mf8{
		left: 66.66666667%;}

	.mf9{
		left: 75%;}

	.mf10{
		left: 83.33333333%;}

	.mf11{
		left: 91.66666667%;}

	.mf12{
		left: 100%;}

	/* backward <-- */
	.mb-r{
		right: 0%}

	.mb1{
		right: 8.33333333%;}

	.mb2{
		right: 16.66666667%;}

	.mb3{
		right: 25%;}

	.mb4{
		right: 33.33333333%;}

	.mb5{
		right: 41.66666667%;}

	.mb6{
		right: 50%;}

	.mb7{
		right: 58.33333333%;}

	.mb8{
		right: 66.66666667%;}

	.mb9{
		right: 75%;}

	.mb10{
		right: 83.33333333%;}

	.mb11{
		right: 91.66666667%;}

	.mb12{
		right: 100%;}	

	/* offset */
	.mo-r{
		margin-left: 0%;}

	.mo1{
		margin-left: 8.33333333%;}

	.mo2{
		margin-left: 16.66666667%;}

	.mo3{
		margin-left: 25%;}

	.mo4{
		margin-left: 33.33333333%;}

	.mo5{
		margin-left: 41.66666667%;}

	.mo6{
		margin-left: 50%;}

	.mo7{
		margin-left: 58.33333333%;}

	.mo8{
		margin-left: 66.66666667%;}

	.mo9{
		margin-left: 75%;}

	.mo10{
		margin-left: 83.33333333%;}

	.mo11{
		margin-left: 91.66666667%;}

	.mo12{
		margin-left: 100%;}	
}		


/* ==========================================================================
   Grid Large [min-width:1025px].
   ========================================================================== */
@media only screen and (min-width: 64.063em) {
	.l1{
		width: 8.33333333%;}

	.l2{
		width: 16.66666667%;}

	.l3{
		width: 25%;}

	.l4{
		width: 33.33333333%;}

	.l5{
		width: 41.66666667%;}

	.l6{
		width: 50%;}

	.l7{
		width: 58.33333333%;}

	.l8{
		width: 66.66666667%;}

	.l9{
		width: 75%;}

	.l10{
		width: 83.33333333%;}

	.l11{
		width: 91.66666667%;}

	.l12{
		width: 100%;}

	/* forward --> */
	.lf-r{
		left: 0%;}

	.lf1{
		left: 8.33333333%;}

	.lf2{
		left: 16.66666667%;}

	.lf3{
		left: 25%;}

	.lf4{
		left: 33.33333333%;}

	.lf5{
		left: 41.66666667%;}

	.lf6{
		left: 50%;}

	.lf7{
		left: 58.33333333%;}

	.lf8{
		left: 66.66666667%;}

	.lf9{
		left: 75%;}

	.lf10{
		left: 83.33333333%;}

	.lf11{
		left: 91.66666667%;}

	.lf12{
		left: 100%;}

	/* backward <-- */
	.lb-r{
		right: 0%;}

	.lb1{
		right: 8.33333333%;}

	.lb2{
		right: 16.66666667%;}

	.lb3{
		right: 25%;}

	.lb4{
		right: 33.33333333%;}

	.lb5{
		right: 41.66666667%;}

	.lb6{
		right: 50%;}

	.lb7{
		right: 58.33333333%;}

	.lb8{
		right: 66.66666667%;}

	.lb9{
		right: 75%;}

	.lb10{
		right: 83.33333333%;}

	.lb11{
		right: 91.66666667%;}

	.lb12{
		right: 100%;}	

	/* offset */
	.lo-r{
		margin-left: 0%;}

	.lo1{
		margin-left: 8.33333333%;}

	.lo2{
		margin-left: 16.66666667%;}

	.lo3{
		margin-left: 25%;}

	.lo4{
		margin-left: 33.33333333%;}

	.lo5{
		margin-left: 41.66666667%;}

	.lo6{
		margin-left: 50%;}

	.lo7{
		margin-left: 58.33333333%;}

	.lo8{
		margin-left: 66.66666667%;}

	.lo9{
		margin-left: 75%;}

	.lo10{
		margin-left: 83.33333333%;}

	.lo11{
		margin-left: 91.66666667%;}

	.lo12{
		margin-left: 100%;}	
}		


/* ==========================================================================
   Grid Huge [min-width:1441px].
   ========================================================================== */
@media only screen and (min-width: 90.063em) {
	.h1{
		width: 8.33333333%;}

	.h2{
		width: 16.66666667%;}

	.h3{
		width: 25%;}

	.h4{
		width: 33.33333333%;}

	.h5{
		width: 41.66666667%;}

	.h6{
		width: 50%;}

	.h7{
		width: 58.33333333%;}

	.h8{
		width: 66.66666667%;}

	.h9{
		width: 75%;}

	.h10{
		width: 83.33333333%;}

	.h11{
		width: 91.66666667%;}

	.h12{
		width: 100%;}

	/* forward --> */
	.hf-r{
		left: 0%;}

	.hf1{
		left: 8.33333333%;}

	.hf2{
		left: 16.66666667%;}

	.hf3{
		left: 25%;}

	.hf4{
		left: 33.33333333%;}

	.hf5{
		left: 41.66666667%;}

	.hf6{
		left: 50%;}

	.hf7{
		left: 58.33333333%;}

	.hf8{
		left: 66.66666667%;}

	.hf9{
		left: 75%;}

	.hf10{
		left: 83.33333333%;}

	.hf11{
		left: 91.66666667%;}

	.hf12{
		left: 100%;}

	/* backward <-- */
	.hb-r{
		right: 0%;}

	.hb1{
		right: 8.33333333%;}

	.hb2{
		right: 16.66666667%;}

	.hb3{
		right: 25%;}

	.hb4{
		right: 33.33333333%;}

	.hb5{
		right: 41.66666667%;}

	.hb6{
		right: 50%;}

	.hb7{
		right: 58.33333333%;}

	.hb8{
		right: 66.66666667%;}

	.hb9{
		right: 75%;}

	.hb10{
		right: 83.33333333%;}

	.hb11{
		right: 91.66666667%;}

	.hb12{
		right: 100%;}	

	/* offset */
	.ho-r{
		margin-left: 0%;}

	.ho1{
		margin-left: 8.33333333%;}

	.ho2{
		margin-left: 16.66666667%;}

	.ho3{
		margin-left: 25%;}

	.ho4{
		margin-left: 33.33333333%;}

	.ho5{
		margin-left: 41.66666667%;}

	.ho6{
		margin-left: 50%;}

	.ho7{
		margin-left: 58.33333333%;}

	.ho8{
		margin-left: 66.66666667%;}

	.ho9{
		margin-left: 75%;}

	.ho10{
		margin-left: 83.33333333%;}

	.ho11{
		margin-left: 91.66666667%;}

	.ho12{
		margin-left: 100%;}	
}